In [1]:
a="helloworld"

In [2]:
a

'helloworld'

In [3]:
a='helloworld'

In [4]:
a

'helloworld'

In [5]:
print(a)

helloworld

In [6]:
a=2

In [7]:
b=12

In [8]:
c=a+b

In [9]:
c

14

In [10]:
print(c)

14

In [11]:
c=1,2,3

In [12]:
c

(1, 2, 3)

In [13]:
c[0]

1

In [14]:
c[12]

IndexError: tuple index out of range

In [15]:
c[-1]

3

In [16]:
len(c)

3

In [17]:
for i in a:
    print(a+a)

TypeError: 'int' object is not iterable

In [19]:
a=(1,2,"ram",1.1)

In [22]:
for i in a:
    print(a+a)

(1, 2, 'ram', 1.1, 1, 2, 'ram', 1.1)
(1, 2, 'ram', 1.1, 1, 2, 'ram', 1.1)
(1, 2, 'ram', 1.1, 1, 2, 'ram', 1.1)
(1, 2, 'ram', 1.1, 1, 2, 'ram', 1.1)

In [29]:
a=[ "Tarun","Namrata","Nikita" ]
a

['Tarun', 'Namrata', 'Nikita']

In [27]:
a[2]="Rashmi"

In [28]:
a

['Tarun', 'Namrata', 'Rashmi']

2D

Two Dimentional Array

2D Array

In [37]:
a= [ 10,4,5 ]

In [38]:
b= [ 24,3,6 ]

In [41]:
ab

NameError: name 'ab' is not defined

In [42]:
import numpy as np

In [43]:
import pandas as pd

In [44]:
import seaborn as sns

In [45]:
testfile=pd.read_excel("C:/Users/RAM1/Desktop/TYCO.xlsx")

In [46]:
testfile

    rollno                             Name  Java unit -II
0      1.0               ROHAN RAMESH BAPAT             25
1      2.0               SHETH AKSHAY VIPIN             16
2      3.0            TANPURE SANTOSH SOPAN              6
3      4.0             DALAL NIRANJAN MOHAN             11
4      5.0              GAIKWAD SNEHA ASHOK             20
5      6.0                NEVE RONIT RAJESH             23
6      7.0          PADEKAR NAMITA JANARDAN             21
7      8.0           SOMASE SATISH RAJABHAU              6
8      9.0             DANGRE GAURI SANDEEP             25
9     10.0         BHAREKAR CHANCHAL SURESH             25
10    11.0           DAS ASHUTOSH DEBRANJAN             22
11    12.0           DESHMUKH REWA RAJENDRA             25
12    13.0          DIWAN CHINMAY DHANANJAY             20
13    14.0       KHATAVKAR TRUPTI NANDKUMAR             25
14    15.0           JADHAV MEENAL SAMBHAJI             25
15    16.0             BADE PRAMOD RAJABHAU             23
16    17.0           KOLKAR ABHISHEK KESHAV             24
17    18.0               SHAH JAINAM RAJESH             24
18    19.0        MOGHE NAMRATA PURUSHOTTAM             24
19    20.0           LOKHANDE PRUTHVI PARAG             23
20    21.0                SHUKLA YASH NITIN             24
21    22.0         PISAL DHANASHREE PRAKASH             24
22    23.0           KHILARE NIKHIL TUKARAM             24
23    24.0            DHUMAL AISHWARYA AMOL             25
24    25.0               PAWAR AKASH SURESH             22
25    26.0               DIGE SNEHAL SANJAY             25
26    27.0      KHISTE ADITI CHANDRASHEKHAR             24
27    28.0       KURAMBHATTI MANGESH SANJAY             25
28    29.0             RASAL ABHISHEK SUNIL             25
29    30.0       KUMBHAR SOURABH SHIVAPUTRA             25
..     ...                              ...            ...
63    64.0            SONAWANE APURV VASANT             22
64    65.0               CHAUDHARI HARSHAL              25
65    66.0              DESHMUKH SAHIL AJAY             23
66    67.0            BIDKAR ANIKET AVINASH             24
67    68.0                PATEL DHRUV ANAND             24
68    69.0               PREETI SUNIL SAKAV             25
69    70.0               GANDHI RIYA SACHIN             25
70    71.0                  SAI VIKAS PATIL             25
71    72.0       JAISWAL AKANSH PRAMODKUMAR             24
72    73.0                   MOHAK GANGWANI             10
73    74.0            GUNDI CHAITANYA UMESH             21
74    75.0                 UNDE TEJAS DIPAK             20
75    76.0               CHACHE PRATHMESH M             14
76    77.0         SANCHETI DEVENDRA JEEVAN             24
77    78.0              OZA AKSHAY RAJENDRA             23
78    79.0              ADEKAR VIDYA SURESH             23
79    80.0                MORE ASHISH ANANT             24
80    81.0          VEER SHUBHAM DATTATRAYA             22
81    82.0           SALUNKHE YASH PRASHANT             22
82    83.0             MORE PRANALI PRAKASH             23
83    84.0         CHOUGULE NAYAN SAMPATRAO             20
84    85.0                SHAH ANUGA BHARAT             25
85    86.0               SHINDE NIKITA ARUN             25
86    87.0       JAMBHULKAR SANKET GULABRAV             18
87     NaN      number of  present student              87
88     NaN         number of absent student              0
89     NaN      number of student above 80%             71
90     NaN      number of student above 60%             10
91     NaN  number of student above 40 -60%              4
92     NaN      number of student below 40%              2

[93 rows x 3 columns]

In [47]:
testfile[["city"]]

KeyError: "['city'] not in index"

In [48]:
testfile

    rollno                             Name  Java unit -II
0      1.0               ROHAN RAMESH BAPAT             25
1      2.0               SHETH AKSHAY VIPIN             16
2      3.0            TANPURE SANTOSH SOPAN              6
3      4.0             DALAL NIRANJAN MOHAN             11
4      5.0              GAIKWAD SNEHA ASHOK             20
5      6.0                NEVE RONIT RAJESH             23
6      7.0          PADEKAR NAMITA JANARDAN             21
7      8.0           SOMASE SATISH RAJABHAU              6
8      9.0             DANGRE GAURI SANDEEP             25
9     10.0         BHAREKAR CHANCHAL SURESH             25
10    11.0           DAS ASHUTOSH DEBRANJAN             22
11    12.0           DESHMUKH REWA RAJENDRA             25
12    13.0          DIWAN CHINMAY DHANANJAY             20
13    14.0       KHATAVKAR TRUPTI NANDKUMAR             25
14    15.0           JADHAV MEENAL SAMBHAJI             25
15    16.0             BADE PRAMOD RAJABHAU             23
16    17.0           KOLKAR ABHISHEK KESHAV             24
17    18.0               SHAH JAINAM RAJESH             24
18    19.0        MOGHE NAMRATA PURUSHOTTAM             24
19    20.0           LOKHANDE PRUTHVI PARAG             23
20    21.0                SHUKLA YASH NITIN             24
21    22.0         PISAL DHANASHREE PRAKASH             24
22    23.0           KHILARE NIKHIL TUKARAM             24
23    24.0            DHUMAL AISHWARYA AMOL             25
24    25.0               PAWAR AKASH SURESH             22
25    26.0               DIGE SNEHAL SANJAY             25
26    27.0      KHISTE ADITI CHANDRASHEKHAR             24
27    28.0       KURAMBHATTI MANGESH SANJAY             25
28    29.0             RASAL ABHISHEK SUNIL             25
29    30.0       KUMBHAR SOURABH SHIVAPUTRA             25
..     ...                              ...            ...
63    64.0            SONAWANE APURV VASANT             22
64    65.0               CHAUDHARI HARSHAL              25
65    66.0              DESHMUKH SAHIL AJAY             23
66    67.0            BIDKAR ANIKET AVINASH             24
67    68.0                PATEL DHRUV ANAND             24
68    69.0               PREETI SUNIL SAKAV             25
69    70.0               GANDHI RIYA SACHIN             25
70    71.0                  SAI VIKAS PATIL             25
71    72.0       JAISWAL AKANSH PRAMODKUMAR             24
72    73.0                   MOHAK GANGWANI             10
73    74.0            GUNDI CHAITANYA UMESH             21
74    75.0                 UNDE TEJAS DIPAK             20
75    76.0               CHACHE PRATHMESH M             14
76    77.0         SANCHETI DEVENDRA JEEVAN             24
77    78.0              OZA AKSHAY RAJENDRA             23
78    79.0              ADEKAR VIDYA SURESH             23
79    80.0                MORE ASHISH ANANT             24
80    81.0          VEER SHUBHAM DATTATRAYA             22
81    82.0           SALUNKHE YASH PRASHANT             22
82    83.0             MORE PRANALI PRAKASH             23
83    84.0         CHOUGULE NAYAN SAMPATRAO             20
84    85.0                SHAH ANUGA BHARAT             25
85    86.0               SHINDE NIKITA ARUN             25
86    87.0       JAMBHULKAR SANKET GULABRAV             18
87     NaN      number of  present student              87
88     NaN         number of absent student              0
89     NaN      number of student above 80%             71
90     NaN      number of student above 60%             10
91     NaN  number of student above 40 -60%              4
92     NaN      number of student below 40%              2

[93 rows x 3 columns]

In [50]:
testfile[["orderdate","item"]]

KeyError: "['orderdate' 'item'] not in index"

testfile.iloc[1]

In [52]:
testfile.iloc[[1]]

   rollno                 Name  Java unit -II
1     2.0   SHETH AKSHAY VIPIN             16

In [53]:
testfile.iloc[[0:3]]

SyntaxError: invalid syntax (<ipython-input-53-9464a6c6ba23>, line 1)

In [54]:
testfile.iloc[0:3]

   rollno                    Name  Java unit -II
0     1.0      ROHAN RAMESH BAPAT             25
1     2.0      SHETH AKSHAY VIPIN             16
2     3.0   TANPURE SANTOSH SOPAN              6

In [58]:
testfile.iloc[0:5,0:2]

   rollno                    Name
0     1.0      ROHAN RAMESH BAPAT
1     2.0      SHETH AKSHAY VIPIN
2     3.0   TANPURE SANTOSH SOPAN
3     4.0    DALAL NIRANJAN MOHAN
4     5.0     GAIKWAD SNEHA ASHOK

In [60]:
testfile.iloc[:,2]

0     25
1     16
2      6
3     11
4     20
5     23
6     21
7      6
8     25
9     25
10    22
11    25
12    20
13    25
14    25
15    23
16    24
17    24
18    24
19    23
20    24
21    24
22    24
23    25
24    22
25    25
26    24
27    25
28    25
29    25
      ..
63    22
64    25
65    23
66    24
67    24
68    25
69    25
70    25
71    24
72    10
73    21
74    20
75    14
76    24
77    23
78    23
79    24
80    22
81    22
82    23
83    20
84    25
85    25
86    18
87    87
88     0
89    71
90    10
91     4
92     2
Name: Java unit -II, Length: 93, dtype: int64

In [64]:
testfile.iloc[0:6,2]

0    25
1    16
2     6
3    11
4    20
5    23
Name: Java unit -II, dtype: int64

In [65]:
testfile[0:2]

   rollno                 Name  Java unit -II
0     1.0   ROHAN RAMESH BAPAT             25
1     2.0   SHETH AKSHAY VIPIN             16

In [69]:
testfile.iloc[0:6, [0,2] ]

   rollno  Java unit -II
0     1.0             25
1     2.0             16
2     3.0              6
3     4.0             11
4     5.0             20
5     6.0             23

In [71]:
testfile.iloc[0:6 ,[ 1,3] ]

IndexError: positional indexers are out-of-bounds

In [72]:
testfile.iloc[[0,2],]

   rollno                    Name  Java unit -II
0     1.0      ROHAN RAMESH BAPAT             25
2     3.0   TANPURE SANTOSH SOPAN              6

In [76]:
testfile.iloc[[0,2],[3,6]]

IndexError: positional indexers are out-of-bounds

In [77]:
testfile

    rollno                             Name  Java unit -II
0      1.0               ROHAN RAMESH BAPAT             25
1      2.0               SHETH AKSHAY VIPIN             16
2      3.0            TANPURE SANTOSH SOPAN              6
3      4.0             DALAL NIRANJAN MOHAN             11
4      5.0              GAIKWAD SNEHA ASHOK             20
5      6.0                NEVE RONIT RAJESH             23
6      7.0          PADEKAR NAMITA JANARDAN             21
7      8.0           SOMASE SATISH RAJABHAU              6
8      9.0             DANGRE GAURI SANDEEP             25
9     10.0         BHAREKAR CHANCHAL SURESH             25
10    11.0           DAS ASHUTOSH DEBRANJAN             22
11    12.0           DESHMUKH REWA RAJENDRA             25
12    13.0          DIWAN CHINMAY DHANANJAY             20
13    14.0       KHATAVKAR TRUPTI NANDKUMAR             25
14    15.0           JADHAV MEENAL SAMBHAJI             25
15    16.0             BADE PRAMOD RAJABHAU             23
16    17.0           KOLKAR ABHISHEK KESHAV             24
17    18.0               SHAH JAINAM RAJESH             24
18    19.0        MOGHE NAMRATA PURUSHOTTAM             24
19    20.0           LOKHANDE PRUTHVI PARAG             23
20    21.0                SHUKLA YASH NITIN             24
21    22.0         PISAL DHANASHREE PRAKASH             24
22    23.0           KHILARE NIKHIL TUKARAM             24
23    24.0            DHUMAL AISHWARYA AMOL             25
24    25.0               PAWAR AKASH SURESH             22
25    26.0               DIGE SNEHAL SANJAY             25
26    27.0      KHISTE ADITI CHANDRASHEKHAR             24
27    28.0       KURAMBHATTI MANGESH SANJAY             25
28    29.0             RASAL ABHISHEK SUNIL             25
29    30.0       KUMBHAR SOURABH SHIVAPUTRA             25
..     ...                              ...            ...
63    64.0            SONAWANE APURV VASANT             22
64    65.0               CHAUDHARI HARSHAL              25
65    66.0              DESHMUKH SAHIL AJAY             23
66    67.0            BIDKAR ANIKET AVINASH             24
67    68.0                PATEL DHRUV ANAND             24
68    69.0               PREETI SUNIL SAKAV             25
69    70.0               GANDHI RIYA SACHIN             25
70    71.0                  SAI VIKAS PATIL             25
71    72.0       JAISWAL AKANSH PRAMODKUMAR             24
72    73.0                   MOHAK GANGWANI             10
73    74.0            GUNDI CHAITANYA UMESH             21
74    75.0                 UNDE TEJAS DIPAK             20
75    76.0               CHACHE PRATHMESH M             14
76    77.0         SANCHETI DEVENDRA JEEVAN             24
77    78.0              OZA AKSHAY RAJENDRA             23
78    79.0              ADEKAR VIDYA SURESH             23
79    80.0                MORE ASHISH ANANT             24
80    81.0          VEER SHUBHAM DATTATRAYA             22
81    82.0           SALUNKHE YASH PRASHANT             22
82    83.0             MORE PRANALI PRAKASH             23
83    84.0         CHOUGULE NAYAN SAMPATRAO             20
84    85.0                SHAH ANUGA BHARAT             25
85    86.0               SHINDE NIKITA ARUN             25
86    87.0       JAMBHULKAR SANKET GULABRAV             18
87     NaN      number of  present student              87
88     NaN         number of absent student              0
89     NaN      number of student above 80%             71
90     NaN      number of student above 60%             10
91     NaN  number of student above 40 -60%              4
92     NaN      number of student below 40%              2

[93 rows x 3 columns]

In [80]:
testfile.iloc[0:10,0:3]

   rollno                       Name  Java unit -II
0     1.0         ROHAN RAMESH BAPAT             25
1     2.0         SHETH AKSHAY VIPIN             16
2     3.0      TANPURE SANTOSH SOPAN              6
3     4.0       DALAL NIRANJAN MOHAN             11
4     5.0        GAIKWAD SNEHA ASHOK             20
5     6.0          NEVE RONIT RAJESH             23
6     7.0    PADEKAR NAMITA JANARDAN             21
7     8.0     SOMASE SATISH RAJABHAU              6
8     9.0       DANGRE GAURI SANDEEP             25
9    10.0   BHAREKAR CHANCHAL SURESH             25

In [88]:
testfile.iloc[[0,3],[1,2]]

                    Name  Java unit -II
0     ROHAN RAMESH BAPAT             25
3   DALAL NIRANJAN MOHAN             11

In [90]:
mydict={"Tarun":"IT",
        "Kirti":"Finance",
       "Namrata":"IT"}

mydict

In [91]:
mydict

{'Kirti': 'Finance', 'Namrata': 'IT', 'Tarun': 'IT'}

In [92]:
print(mydict)

{'Tarun': 'IT', 'Kirti': 'Finance', 'Namrata': 'IT'}

In [93]:
mydict["Namrata"]

'IT'

In [97]:
mydict["Kirti"]

'Finance'

In [103]:
mydict={"Tarun":["IT",30],
        "Kirti":["Finance",26],
       "Namrata":["IT",21]}

In [104]:
mydict

{'Kirti': ['Finance', 26], 'Namrata': ['IT', 21], 'Tarun': ['IT', 30]}

In [105]:
print(mydict)

{'Tarun': ['IT', 30], 'Kirti': ['Finance', 26], 'Namrata': ['IT', 21]}

In [106]:
mydict["Kirti"]

['Finance', 26]

In [107]:
mydict["Kirti"][1]

26

In [109]:
mydict={"Tarun":["IT",30],
        "Kirti":["Finance",26],
       "Namrata":["IT",21],
       "Tarun":["Finance",35]}

In [110]:
print(mydict)

{'Tarun': ['Finance', 35], 'Kirti': ['Finance', 26], 'Namrata': ['IT', 21]}

In [111]:
mydict={1:[2,25],
        2:[54,84],
        3:[5,945]
       }

In [112]:
mydict

{1: [2, 25], 2: [54, 84], 3: [5, 945]}

In [113]:
print(mydict)

{1: [2, 25], 2: [54, 84], 3: [5, 945]}

In [114]:
mydict[1]

[2, 25]

In [118]:
len(mydict)

3

In [119]:
mydict={"Tarun":["IT",30],
        "Kirti":["Finance",26],
       "Namrata":["IT",21]}

In [120]:
mydict["Namrata"][0]="Bank"

In [121]:
mydict

{'Kirti': ['Finance', 26], 'Namrata': ['Bank', 21], 'Tarun': ['IT', 30]}